@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    color: #D49B17;
    background-color: black;
}
/* headings and logo */

h1, h2{
    font-family: 'Quicksand', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: red;
}
header{
    background-color: black;
    height:75px;
}



#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
    color:red;
}

#menu, #logo{
    line-height: 75px;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: red;
}

#menu a:hover{
    border-bottom: 1px solid #D49B17;
}
#menu li:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.active{
    border-bottom: 1px solid #D49B17;
}
/* hero image */
#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/Webp.net-resizeimage\ \(1\).jpg') no-repeat center center;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    
    width: 450px;
    height: 130px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, .7);

    bottom: 60%;
    right: 40%;
    position: absolute;
    border-radius: 15px;
}

/* book classes button */
.book {
    /* should be crust color */
	color: #D49B17  ;
	text-transform: uppercase;
	text-decoration: none;
	background: red;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
    position:absolute;
    bottom: 54%;
    right: 37%;
    font-size: 200%;
}

.book:hover {
    color:red;
	background: #D49B17;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}





/* footer */
footer{
    height:10px;
}

.social-networks {
    text-align:center;
}

.social-networks > li {
    display: inline;
}
.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: red;
}

.social-networks i:hover{
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

/* form page */
#form-image{
    background: url('../images/Webp.net-resizeimage\ \(2\).jpg') no-repeat center center;
    height: 800px;
}
.booking-form{
    background-color:rgba(0, 0, 0, .4);
    max-width: 350px;

    padding: 25px;

    position: absolute;
    top:70%;
    right:50%;
    
}
.text-form{
    background: transparent;
    color:inherit;
    width:100%;
    height:30px;
    margin: 5px;
    border: 1px solid #D49B17;
    border-radius: 5px;
}